<h2><%= l(:timesheet_title)%></h2>

<%= render :partial => 'form' %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'timesheet', :plugin => 'timesheet' %>
  <%= stylesheet_link_tag 'timesheet', :plugin => 'timesheet', :media => 'all' %>
<% end %>
